/* BORDER BOX FIX */
html { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }
/* END BORDER BOX FIX */


a:hover {
  color: orange;
  text-decoration: none;
}

p {
  text-align: justify;
}


.table_data_cells {
  height: 100px;
}


.body_text {
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 100px;
}

#profile_img {
  height: 300px;
  float: left;
  margin: 30px;
}


/* settings for mobile devices where the width is 767px or less*/
@media (max-width: 767px) {

  #profile_img {
    height: 500px;
    margin-left: 0px;
    margin-right: 0px;
    float: none;
  }

  .body_text {
    margin-top: 75px;
  }
}
