/* BORDER BOX FIX */
html { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }
/* END BORDER BOX FIX */


body {
}


a:hover {
  color: orange;
}


/* NAVBAR */
.navbar-fnt {
    color: #ccddff;
}

.navbar-backgrnd {
    background-color: #001133;
}



#footer {
  height: 3vh;
  padding: 15px 15px 50px 15px;
  color: #ccddff;
  background-color: #001133;
}

#header {
  height: 3vh;
  padding: 15px 15px 50px 15px;
  color: #ccddff;
  background-color: #001133;
}

.body_text {
  margin-top: 120px;
  margin-left: 20px;
}
