
//SASS SCSS Color Variables
$lightblue: #ccddff;
$darkblue: #001133;

$color-menu_background: $darkblue;
$color-menu_font: $lightblue;
//END SASS CSCC Color Varaibles


//Table nesting
%table_cells {
  padding: 10px;
  border: 1px solid black;
}

table {
  border-collapse: collapse;

  td {
    @extend %table_cells;
    vertical-align: top;
  }

  th {
    @extend %table_cells;
    vertical-align: bottom;
    padding-bottom: 5px;
    background-color: grey;
  }

} // end table


//NAV MENU COLOR
.nav-link {
  color: $color-menu_font;
}


//HEADER FOOTER Inheritance
%header_footer_size{
  padding: 15px 15px 50px 15px;
  color: $color-menu_font;
  background-color: $color-menu_background;
}

footer {
  @extend %header_footer_size;
  height: 6vh;
}

header {
  @extend %header_footer_size;
  font-size: 1.5em;
  height: 3vh;
}

#navigation {
  position: fixed; //allows positioning of the menu
  z-index: 10; //ensures that menu is on top of anything that it overlaps with
  top: 60px; //puts the menu below the header
  right: 0px; //aligns the menu to the right side of the screen
  color: $color-menu_font;
  background-color: $color-menu_background;
}
